*{
	box-sizing: border-box;
}
div {
	margin: 10px;
	float: left;
	display: inline-block;
	height: 200px;
	width: 200px;
	-webkit-filter: grayscale(40%);
}
.coder1{
	background-image: url(img/profile-1.png);
}
.coder2{
	background-image: url(img/profile-2.png);
}
.coder3{
	background-image: url(img/profile-3.png);
}
.coder4{
	clear: both;
	background-image: url(img/profile-4.png);
}
.coder5{
	background-image: url(img/profile-5.png);
}
.coder6{
	background-image: url(img/profile-6.png);
}
hr{
	width: 100px;
	height: 6px;
	margin: 2px 2px 8px 2px;
	background: black;
}
p{
	color: white;
	position: relative;
	top:180px;
	bottom: 0px;
	left: 80px;
	margin:0;
}
